html{
    font-size: 62.5%;
}

.nav-item{
    font-size: 1.8rem;
}

.text-pvg{
    color: #7e0909 !important;
}

.btn-pvg{
    background-color: rgb(242, 255, 59);
    color: black;
}

.btn-pvg:hover{
    background-color: #ed61ff;
}

#main .carousel-item img{
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(20%);
}

#carousel{
    position: relative;
}

#carousel .overlay{
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    color: aliceblue;
}

#carousel .overlay .container,
#carousel .overlay .row{
    height: 100%;
}

#info{
    background-color: #343a40;
    color: white;
}

#info img{
    max-width: 100%;
}

#header img{
    width: 20rem;
}

#community .row .card .badge{
    font-size: 1rem;
}

#footer {
    background: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372)
}

#footer a{
    color: white;
}